
*{
    box-sizing: border-box;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 34%, rgba(0, 47, 92, 1) 100%);
    text-align: center;
    justify-content: center;
}


li{
    list-style-type: none;
}

header{
    padding-top:70px;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

main{
    height:fit-content;
    padding-top:50px;
}

input{
    width:200px;
    height:50px;
    color:black;
    border-radius: 7px;
    margin:10px;
}
button{
    margin:20px;
    font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#337bc4;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  text-shadow: 0px 1px 0px #528ecc;
  background:linear-gradient(#79bbff, #378de5);
}
button:hover {
  background: linear-gradient(#378de5, #79bbff);
}
select{       
    width:200px;
    height:50px;
    margin:10px;
    color:black;
    border-radius: 7px;
    border: none;
}
option{
    color:black;
}
a{
    text-decoration: none;
}
textarea{
    color:black;
    width:200px;
    height:50px;
    margin:10px;
    border-radius: 7px;
}

h2{
    margin-top:40px;
}

footer{
    text-align: center;
    justify-content: center;
    align-items: center;
}